{% extends 'core/crear.html' %}
{% block js %}
    {{ block.super }}
    {% include "componentes/vue.html" %}
    {% include "componentes/vue/tabla.html" %}
    <script type="text/javascript">
    $(document).ready(function(){
        vue = new Vue({
            el : '#app'
        })
    })
    </script>
{% endblock %}

{% block contenido %}
<div id="app" class="box p-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <span class= "fa fa-cog"></span>
        General
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if not obj.id %}disabled{% endif %}" 
            {% if obj.id %}
                id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"
            {% else %}
                href="javascript:void(0);"
            {% endif %}>
            <span class="fa fa-list"></span>
            Configuracion Ciclos
        </a>
    </li>
    </ul>
    <div class="tab-content p-5" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{form}}</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <tabla app='catalogo' method='tipo_ciclo' padre="tipo_credito" padre_pk="{{obj.id}}" can_add="true">

        </tabla>
    </div>
    </div>
</div>


{% endblock %}